.fields_container {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  .field_wrapper {
    display: flex;
    flex-direction: column;
    label {
      color: #047c6c;
      font-weight: 600;
      margin-bottom: 4px;
    }
    input {
      padding: 8px 16px;
      border-radius: 3px;
      border: 2px solid #03a791;
      color: #047c6c;
      &:focus {
        border: 2px solid #03a791;
      }
      &:focus-visible {
        outline-color: #03a791;
      }
    }

    .error_input {
      border: 2px solid red;
      &:focus {
        border: 2px solid red;
      }
      &:focus-visible {
        outline-color: red;
      }
    }
  }

  .error_wrapper {
    p {
      color: red;
      margin: 0 !important;
      font-size: 14px;
    }
  }
}
.checkbox_wrapper {
  flex-direction: row-reverse !important;
  justify-content: flex-end;
  align-items: center;
  & label{
    margin: 3px 0 0 8px;
  }
}
